@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  margin: 2.5em 0;

  font-family: "Poppins", sans-serif;
}
h1 span {
  font-family: "Darumadrop One", cursive;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.color {
  width: 180px;
  height: 150px;
  overflow-x: hidden;
  text-align: center;
  border-radius: 10px;
  background: whitesmoke;
  box-shadow: 3px 4.9px 7.9px rgba(0, 0, 0, 0.044),
    10.1px 16.3px 26.6px rgba(0, 0, 0, 0.044),
    45px 73px 119px rgba(0, 0, 0, 0.11);
}
.color-img {
  width: 100%;
  height: 110px;
  
}

.button-container {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 1em 5em;
  background: blueviolet;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
button:hover {
  background: rgb(93, 32, 150);
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
